  {{#*inline "item"}}
  {{! example: >item id="rolle-1" class="td" type="role" content=data.role-1}}
  {{! log "content:" content
      "editMode:" @root.editMode}}
  <div class="{{class}} flexrow item {{type}} allow-break"
      {{#if content.item}}data-item-id="{{content.item.id}}"{{/if}}>
      {{#if content.item}}
      <a class="value item-edit" id="{{id}}" title="Beschreibung anzeigen">{{content.item.name}}</a>
      {{! TODO: Listener von class item-delete auf data-action delete umstellen, auch .js }}
          {{#if editMode}}<a class="controls control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>{{/if}}
      {{else}}
          {{#if content.available}}
          <a class="hint" id="{{id}}" title="{{type}} auswählen" data-action="select" data-type="{{type}}">{{content.available-hint}}</a>
          {{else}}
          <span class="hint" id="{{id}}">{{content.hint}}</span>
          {{/if}}
      {{/if}}
  </div>
  {{/inline}}


<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields grid-container">
            <h1 class="grid-item1 charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="grid-item2">
              <span class="item2">
                <span> LEP </span>
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
              </span>
              <span class="item2">
                <label class="label" title="Initiative" for="ini">INI</label>
                <input type="text" name="data.calc.ini" value="{{data.calc.ini}}" data-dtype="Number"/>
              </span>
              <span class="item2">
                <label class="label">PW</label>
                <input type="text" name="data.pw.value" value="{{data.pw.value}}" data-dtype="Number"/>
              </span>
              <span class="item2">
                <label class="label">Hex</label>
                <input type="text" name="data.hex.value" value="{{data.hex.value}}" data-dtype="Number"/>
              </span>
            </div>
            <div class="grid-item3">
              {{#each data.attributes as |attr key|}}
                <span class="item3" data-key="{{key}}">
                    <span class="label item3" title="{{attr.label}}">{{key}}</span>
                    <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                    <!--<span class="value">{{attr.value}}</span>-->
                </span>
              {{/each}}
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <body>

    {{!-- Sheet Body --}}

        {{!-- Biography Tab --}}
        <div>
          <h1>Anführer</h1>
          <span> Stufe<input style="width:30px; text-align: center; margin-left: 10px;"type="text" name="data.stufe.value" value="{{data.stufe.value}}" data-dtype="Number"/> </span>
          <div class="unnatural">
          </div>
          <div class="head">
            <h2>Attacken</h2>
          </div>
          <div class="head-content">
            {{editor content=data.biography1 target="data.biography1" button=true owner=owner editable=editable}}
          </div>
          <div class="head">
            <h2> Kräfte</h2>
          </div>
          <div class="head-content">
            {{!--editor content=data.biography2 target="data.biography2" button=true owner=owner editable=editable--}}
            <ol class="items-list">
            {{!-- FIXME actor.data durch data ersetzen, sobald Workaround in getData nicht mehr benötigt --}}
            {{#each (hx-filter actor.data.items "type" "npc-power") as |item id|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <!--img src="{{item.img}}" title="{{item.name}}" width="30" height="30"/-->
                <div>
                  <h4 class="item-name">{{item.name}}</h4>
                  <div class="item-description note">{{{item.data.data.description}}}</div>
                </div>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
            </ol>
          </div>
        </div>


    </body>
</form>
