﻿{{#*inline "input"}}
{{! example: >input id="languages" class="foo" target="data.languages" content=data.languages}}
{{#if log}}
{{log "root:" @root
    "this:" @this
    "editMode:" @root.editMode}}
{{/if}}
{{#unless @root.locked}}
<input {{#if id}} id="{{id}}" {{/if}}
    class="{{#if (isDefined class)}}{{class}} {{/if}}value"
    type="text"
    name="{{#if base-target}}{{base-target}}.{{/if}}{{target}}{{#if (hxIsValueStruct content)}}.value{{/if}}"
    value="{{#if (hxIsValueStruct content)}}{{content.value}}{{else}}{{content}}{{/if}}"
    {{! TODO: dtype besser lösen }}
    {{#if content.dtype}}data-dtype="{{content.dtype}}"{{/if}}
    {{#if dtype}}data-dtype="{{dtype}}"{{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
{{else}}
<span class="{{#if (isDefined class)}}{{class}} {{/if}}value">
    {{~#if html ~}}
    {{#if (hxIsValueStruct content)}}{{{content.value}}}{{else}}{{{content}}}{{/if}}
    {{~else~}}
    {{#if (hxIsValueStruct content)}}{{content.value}}{{else}}{{content}}{{/if}}
    {{~/if~}}
</span>
{{/unless}}
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="type-img" src="{{img}}" {{#unless locked}}data-edit="img"{{/unless}} title="{{type}}"/>
        <h1 class="name">
            {{>input class="value-box" target="system.name" content=name placeholder="Name"}}
        </h1>
        <div class="refs flexrow">
            <div class="origin">
                {{~#if (and (eq item.type "power") (not locked)) ~}}
                    <select name="origin.type">
                        {{selectOptions hunterAbilityTypes selected=hunterAbilityType nameAttr="key" labelAttr="label" blank=""}}
                    </select>
                    {{#if isHunterAbilityEffect}}
                        {{>input class="value-box" target="system.origin.power.name" content=data.origin.power.name placeholder="Ausbaukraft"}}
                    {{/if}}
                    {{>input class="value-box" target="system.origin.name" content=data.origin.name placeholder="Rolle/Profession"}}
                {{~else if (and (eq item.type "skill") (not locked)) ~}}
                    <select name="system.type">
                        {{selectOptions skillTypes selected=skillType nameAttr="key" labelAttr="label" blank=""}}
                    </select>
                {{~else~}}
                    {{~origin~}}
                {{~/if~}}
            </div>
            <div class="sources">[ {{> hx-ref}} ]</div>
        </div>
        <div class="warnings" {{#unless warnings}}style="display:none"{{/unless}}>
            {{#with warnings}}
            {{#if deprecated}}
            <i class="fas fa-exclamation-triangle"></i> Veraltet! Bitte austauschen!
            {{else if bad}}
            <i class="fas fa-unlink"></i> Fehlerhafte oder unvollständige Compendium Info! Es kann keine Prüfung auf Updates durchgeführt werden!
            {{else if update}}
            <i class="fas fa-cloud-upload-alt"></i> Update verfügbar!
            {{/if}}
            {{/with}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="common"><div class="item-bg">Allgemein</div></a>
        {{#if data.powers}}
        <a class="item" data-tab="powers"><div class="item-bg">Jägerkräfte</div></a>
        {{/if}}
        {{#if data.features}}
        <a class="item" data-tab="features"><div class="item-bg">Effekte</div></a>
        {{/if}}
        {{!-- <a class="item rules-tab" data-tab="rules"><div class="item-bg"><i class="fas fa-cogs"></i></div></a> --}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab common" data-group="primary" data-tab="common">
            {{~#if (eq item.type "regulation") ~}}

            <header class="block-header">Beschreibung</header>
            {{!-- TODO: Workaround für editable=false via CSS display:none, da editable=false den Editor aktiviert --}}
            {{editor data.description target="system.description" button=true owner=owner editable=editable}}

            {{~else if (not (isNSC item.type)) ~}}

            <header class="block-header">Beschreibung</header>
            {{!-- TODO: Workaround für editable=false via CSS display:none, da editable=false den Editor aktiviert --}}
            {{editor data.description target="system.description" button=true owner=owner editable=editable}}
            <div class="extras">
                {{#if (eq item.type "skill")}}
                    {{!-- log "root:" @root
                        "this:" @this
                        "editMode:" @root.editMode --}}

                    <label class="label" for="value">
                        Fertigkeitswert (FW):
                    </label>
                    <div id="value" class="value">{{>input class="short" target="data.value" content=data.value ~}}</div>

                    <label class="label" for="attribute">
                        Basis-Attribut:
                    </label>
                    {{#if (not locked)}}
                        <select id="attribute" name="system.attribute">
                            {{selectOptions attributes selected=data.attribute nameAttr="key" labelAttr="label"}}
                        </select>
                    {{else}}
                        {{attribute}}
                    {{/if}}

                    {{#if (eq item.system.type "weapon")}}
                        <label class="label" for="ap">
                            Aktionspunkte (AP):
                        </label>
                        <div id="ap" class="value">{{>input class="short" target="data.ap" content=data.ap ~}}</div>

                        <label class="label" for="schaden">
                            Basis-Schaden:
                        </label>
                        <div id="schaden" class="value">{{>input class="short" target="data.schaden" content=data.schaden ~}}</div>
                        
                        <label class="label" for="equipped">
                            Waffe vorhanden:
                        </label>
                        <input id="equipped" type="checkbox" name="data.equipped" {{checked data.equipped}} {{#if locked}}disabled="disabled"{{/if}} />

                        <label class="label" for="anmerkung">
                            Anmerkung:
                        </label>
                        <div id="anmerkung" class="value">{{>input class="" target="data.anmerkung" content=data.anmerkung ~}}</div>
                    {{/if}}
    
                {{else if (eq item.type "state")}}
                    {{!-- log "root:" @root
                        "this:" @this
                        "editMode:" @root.editMode --}}

                    <label class="label" for="effect">
                        Gekoppelter Einfluss:
                    </label>
                    <select name="system.type">
                        {{selectOptions stateTypes selected=stateType nameAttr="key" labelAttr="label"}}
                    </select>

                    <label class="label" for="effect">
                        Nebeneffekt:
                    </label>
                    <div id="effect" class="value">{{>input class="" target="data.effect" content=data.effect ~}}</div>

                    <label class="label" for="removal">
                        Reduzierung:
                    </label>
                    <div id="removal" class="value">{{>input class="" target="data.removal" content=data.removal ~}}</div>
                    
                    <label class="label" for="help">
                        Hilfeleistung:
                    </label>
                    <div id="help" class="value">{{>input class="" target="data.help" content=data.help ~}}</div>

                    <label class="label" for="special">
                        Besonderheiten:
                    </label>
                    <div id="special" class="value">{{>input class="" target="data.special" content=data.special ~}}</div>
    
                {{else}}
                    {{#if (or (and (not locked) (eq item.type "profession")) data.qualification)}}
                    {{!-- TODO: nur bei Professionen? --}}
                    <label class="label" for="qualification">Voraussetzung:</label>
                    <div id="qualification" class="qualification">{{>input target="data.qualification" content=data.qualification}}</div>
                    {{/if}}
                    {{#if (or (and (not locked) (not (eq item.type "motivation"))) data.create)}}
                    <label class="label" for="create">
                        Startausrüstung:
                        <i class="fas fa-info-circle" title="Nur für Rolle №1 oder wenn bei Erstellung gelernt."></i>
                    </label>
                    <div id="create" class="create">
                        {{!-- create might contain HTML-Markup, therefore tripple {} --}}
                        {{>input target="data.create" content=data.create html=true ~}}<br>
                        {{#if (not locked) ~}}
                        <span class="hint">(Kann Compendium Links enthalten.)</span>
                        {{else~}}
                        {{!-- TODO: nur anzeigen, falls auch Gegenstände enthalten --}}
                        <span class="hint">(Zum Ausrüsten den Gegenstand auf den Charakterbogen ziehen.)</span>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{#if (or (not locked) data.upkeep)}}
                    <label class="label" for="upkeep">Unterhalt:</label>
                    <div id="upkeep" class="upkeep">{{>input class="short" target="data.upkeep" content=data.upkeep}} Gulden</div>
                    {{/if}}
                {{/if}}
            </div>

            <header class="block-header">
                Zusammenfassung für den Charakterbogen
                <i class="fas fa-info-circle" title="Ist eine Zusammenfassung vorhanden, so wird diese anstelle der Beschreibung im Charkterbogen angezeigt."></i>
            </header>
            {{editor data.summary target="system.summary" button=true owner=owner editable=editable}}

            {{~else if (isNSC item.type) ~}}

            <header class="block-header">{{>input target="system.type" content=data.type placeholder="Eigenschaft/Handlung"}}</header>
            {{!-- TODO: Workaround für editable=false via CSS display:none, da editable=false den Editor aktiviert --}}
            {{editor data.description target="system.description" button=true owner=owner editable=editable}}

            <div class="extras">
            {{!-- Ab hier für NSC-Kräfte --}}
            {{#if (isNSC item.type)}}
                {{#if (or (not locked) (isDefined data.target))}}
                <label class="label" for="target">Ziel:</label>
                <div id="target" class="target">{{>input class="short" target="data.target" content=data.target}}</div>
                {{/if}}
                {{#if (or (not locked) (isDefined data.cost))}}
                <label class="label" for="cost">Kosten:</label>
                <div id="cost" class="cost">{{>input class="short" target="data.cost" content=data.cost}}</div>
                {{/if}}
                {{#if (or (not locked) (isDefined data.syntax))}}
                <label class="label" for="syntax">Syntax:</label>
                <div id="syntax" class="syntax">{{>input target="data.syntax" content=data.syntax}}</div>
                {{/if}}
            {{/if}}
            </div>

            {{~/if~}}

            {{!-- TODO: tags --}}
            <div class="last"> </div>
        </div>

        {{!-- Jägerkräfte Tab --}}

        {{#*inline "entity-link"}}
        {{#if this.learned}}
        <i class="fas fa-scroll" title="gelernt"></i>
        {{else if this.locked}}
        <i class="fas fa-lock" title="Voraussetzung nicht erfüllt"></i>
        {{/if}}
        <a class="entity-link content-link{{#if this.learned}} learned{{/if}}" data-action="open" data-pack="{{this.pack}}" data-id="{{this.id}}" data-type="Item" data-uuid="{{this.uuid}}" draggable="true">{{this.name}}</a>
        {{/inline}}

        <div class="tab powers" data-group="primary" data-tab="powers">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen die gewünschte Jägerkraft auf den Charakterbogen ziehen.</div>
            <header class="block-header hint">Allgemeine Jägerkräfte (2 JP)</header>
            {{#each powers.jaeger}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.jaeger}}
            <div class="hint">Die {{type}} {{name}} enthält keine Allgemeinen Jägerkräfte.</div>
            {{/unless}}

            <header class="block-header hint">Espritkräfte (3 JP)</header>
            {{#each powers.esprit}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.esprit}}
            <div class="hint">Die {{type}} {{name}} enthält keine Espritkräfte.</div>
            {{/unless}}

            <header class="block-header hint">Ausbaukräfte (1 JP / Effekt)</header>
            <div class="hint">
                <i class="fas fa-info-circle"></i>
                <div class="inline">Voraussetzungen: (G)eselleneffekt: Stammeffekt , (E)xperteneffekt: mind. 2 Geselleneffekte,
                (M)eistereffekt: mind. 2 Experteneffekte.</div>
            </div>
            {{#each powers.ausbau}}
            <div class="power">
                <div>{{>entity-link this}}</div>
                {{#each this.features}}
                <div><span class="marker">({{this.marker}})</span> {{>entity-link this}}</div>
                {{/each}}
            </div>
            {{/each}}
            {{#unless powers.ausbau}}
            <div class="hint">Die {{type}} {{name}} enthält keine Ausbaukräfte.</div>
            {{/unless}}

            <div class="last"> </div>
        </div>

        {{!-- Effekte Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen den Effekt auf den Charakterbogen ziehen.</div>
            <header class="block-header hint">Stammeffekt (1 JP)</header>
            {{#each features.S}}
            <div class="feature stamm">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Geselleneffekte (1 JP, Stammeffekt)</header>
            {{#each features.G}}
            <div class="feature geselle">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Experteneffekte (1 JP, mind. 2 Geselleneffekte)</header>
            {{#each features.E}}
            <div class="feature experte">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Meistereffekte (1 JP, mind. 2 Experteneffekte)</header>
            {{#each features.M}}
            <div class="feature meister">{{>entity-link this}}</div>
            {{/each}}

            <div class="last"> </div>
        </div>

        {{!-- Rules Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            <header class="block-header">Automatisierungsregeln</header>
            <header class="block-header">Aktive Effekte</header>

            <div class="last"> </div>
        </div>

    </section>
</form>
